
  
  table {
      width: 100%;	
      border-collapse: collapse;
      
    }
  
    th, td {
      
      padding: 5px;
      text-align: left;
      border: 1px solid blue;
      
    }
    
    th {
      height: 50px;
      text-align: left;
      background-color: blue;
      color: white;
    }
    
 
    tr:hover {background-color: #f5f5f5;}
    
    tr:nth-child(even) {background-color: #f2f2f2;}



    table a{
      text-decoration: none;
    
    }
  
    table .edit{
      text-align: center;
      margin-bottom: 20px;
      padding: 10px;
      width: 70px;
      color: white;
      border: 1px solid green;
      background-color: green;
    }
  
    table .edit:hover{
      color: green;
      background-color: white;
    }
